FortinetScraper\Attempt3\Images
FortinetScraper\Attempt3\Images\Attack_Severity.png
FortinetScraper\Attempt3\Images\Attack_Types.png
FortinetScraper\Attempt3\Images\Most_Attacks_Incoming.png
FortinetScraper\Attempt3\Images\Most_Attacks_Outgoing.png
History\cyberattack_data.csv
History\attack_trends.png
